body {
    font-family: Arial, sans-serif;
    font-size: 13px;
    background-color: #F9F9F9;
    margin: 10px;
}

.main {
    width: 1060px;
    margin: 0 auto;
    padding: 35px 68px 0 26px;
    background-color: #ffffff;
    box-sizing: border-box;
}

.top_menu,
.logo,
.content {
    width: 966px;
    margin-bottom: 40px;
}

.logo {
    background: #ffffff url("../images/logo.png") no-repeat;
    height: 40px;
}

.top_menu {
    height: 40px;
    background-color: #4A4A4A;
}

.top_menu li, footer li {
    float: left;
    margin-right: 40px;
    min-width: 100px;
    text-align: center;
}

.top_menu li a {
    display: block;
    height: 15px;
    color: #ffffff;
    padding: 10px 25px 13px 25px;
    text-decoration: none;
    font-size: 14px;
    border: 1px solid #4A4A4A;

}

.top_menu a:hover,
.top_menu a:active {
    background-color: #363636;
    border: 1px solid black;
}

nav {
    float: left;
    width: 240px;
    cursor: pointer;
    border: 1px solid #c8c8c8;
}

nav ul {
    list-style: none;
}

nav li {
    background: #ffffff;
    border-bottom: 1px solid #c8c8c8;
    padding: 15px auto 22px 15px;
}

nav li:hover {
    background-color: #F9F9F9;
}

nav li a {
    display: block;
    padding: 15px;
    font-family: Arial, sans-serif;
    margin-bottom: 1px;
    text-align: left;
    text-decoration: none;
    color: #656363;
}

nav li a:hover {
    padding-left: 36px;
    color: #000000;
}

section {
    margin-left: 311px;
    display: block;
    width: 654px;
}

section p {
    margin-top: 22px;
    font-family: Arial, sans-serif;
    line-height: 21px;
}

figure {
    display: block;
    width: 654px;
    height: auto;
    background-color: #ffffff;
    border: solid 1px #c8c8c8;
}

img.velo {
    padding: 31px 0 62px 65px;
}

footer {
    height: 40px;
    background-color: #E1E1E1;
    margin-top: 82px;
}

footer li a {
    display: block;
    height: 15px;
    color: #000000;
    padding: 12px 25px 10px 25px;
    text-decoration: none;
}

footer li a:hover {
    text-decoration: underline;
}

.copyright {
    float: right;
    margin-right: 40px;
    padding: 12px 0 10px 25px;
}

